body{
    background-color: blueviolet;
}
#tbl{
    font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 90%;
     margin: 5%;
}
#tbl td{
    padding: 1%;
    border: 0 solid;
}
#tbl th{
    
    background-color: purple;
    color: whitesmoke;
    text-align: left;

}
#tbl{
    background-color: blanchedalmond;
}

